.form-container {
  margin-top: 20px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.games-page {
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: white;
  color: #0b0f50;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.games-page h3 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 0 1rem;
  border-bottom: 2px solid #0b0f50;
  padding-bottom: 0.5rem;
}

.tabla-juegos-container {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 1rem;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.tabla-juegos-container table {
  min-width: 800px;
  border-collapse: collapse;
}
.tabla-juegos-container th,
.tabla-juegos-container td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background: #f9f9f9;
  color: #333;
}

.tabla-juegos-container th {
  position: sticky;
  top: 0;
  background: #0b0f50;
  color: white;
  z-index: 1;
}

.game-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.modal input[type="text"],
.modal input[type="number"],
.modal input[type="time"],
.modal select {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.game-buttons button {
  min-width: 230px;
  align-self: center;
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  font-size: 1rem;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.game-buttons .btn-success {
  background-color: #39973e;
}
.game-buttons .btn-primary {
  background-color: #072a91;
}
.game-buttons .btn-danger {
  background-color: #cc0000;
}

.games-page .btn-primary {
  background-color: #007bff;
  border: none;
  margin-left: 5px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .games-page {
    width: 85%;
  }
}

@media (max-width: 870px) {
  .game-buttons .btn-success,
  .game-buttons .btn-primary,
  .game-buttons .btn-danger {
    width: 70%;
  }
}
