.users-container {
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: white;
  color: #0b0f50;
  padding: 2rem;
  width: 70%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 8px;
}

.form-container input,
.form-container select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 14px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.users-container .btn-primary {
  background-color: #007bff;
  border: none;
  margin-left: 5px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.users-container .btn-danger {
  background-color: #e74c3c;
  border: none;
  margin-left: 5px;
  padding: 8px 16px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.titulo-usuarios {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 0 1rem;
  color: #0b0f50;
  border-bottom: 2px solid #0b0f50;
}

.tabla-usuarios-container {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.tabla-usuarios-container td {
  color: #333;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.tabla-usuarios-container th {
  position: sticky;
  top: 0;
  background-color: #0b0f50;
  color: white;
}

.busqueda-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  flex-wrap: nowrap;
  justify-content: center;
}

.busqueda-box .btn-success {
  background-color: #28a745;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  font-size: 1rem;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.busqueda-box .btn-success:hover {
  background: #157347;
}

.busqueda-box .input-busqueda {
  width: 20%;
  padding: 10px 2px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.select-filtro {
  width: 20%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 20%;
  max-width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.modal-content input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content select {
  width: 100%;
  font-size: 1rem;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 1024px) {
  .users-container {
    width: 85%;
  }
}

@media (max-width: 870px) {
  .busqueda-box {
    flex-wrap: wrap;
  }

  .busqueda-box .input-busqueda {
    padding: 0;
  }

  .busqueda-box .btn-success,
  .select-filtro,
  .busqueda-box .input-busqueda {
    width: 40%;
    height: 40px;
  }
}

@media (max-width: 614px) {
  .busqueda-box .btn-success,
  .select-filtro,
  .busqueda-box .input-busqueda {
    width: 70%;
  }
}

@media (max-width: 416px) {
  .busqueda-box .btn-success,
  .select-filtro,
  .busqueda-box .input-busqueda {
    max-width: 70%;
  }
}
