/* src/pages/WelcomePage.css */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.welcome-page {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.form-logo {
  max-width: 230px;
}

.welcome-container {
  background-color: white;
  padding: 0.5rem;
  border-radius: 15px;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  border: 6px dotted #ffcc00;
  box-sizing: border-box;
  animation: blink-border 1.2s infinite;
}

.info-recuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 5px;
  margin: -0.5rem 0 1rem;
}

.info-recuadro h1 {
  font-size: 2rem;
  margin: 0;
  color: #ff9900;
  text-shadow: 2px 2px 4px #00000050;
  font-weight: 900;
}

.username {
  color: #0b0f50;
}

.info-recuadro h2 {
  width: 90%;
  font-size: 1.5rem;
  margin: 0.4rem 0;
  color: #0b0f50;
  border-bottom: #0b0f50 solid 1px;
}

.values {
  color: #ff9900;
}

.welcome-container h3 {
  margin: 0;
}

.mensaje-global {
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
  animation: blink 1s infinite alternate;
}

.welco-btn-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 100%;
  gap: 10px;
  margin-top: 1rem;
}

.welco-btn-group .btn-play {
  background-color: rgb(252, 252, 35);
  color: black;
  width: 49%;
}

.welco-btn-group .btn-exit {
  background-color: #fd5151;
  color: black;
  width: 49%;
}

.welco-btn-group .btn {
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  color: white;
  width: 32%;
}

.welco-btn-group button {
  flex: none;
  max-width: 300px;
  padding: 12px 20px;
  margin: 1px 0;
  text-align: center;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 3px #00000050;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.welco-btn-group button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px #00000070;
}

.user-info {
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  margin-top: -0.3rem;
  padding: 10px 0;
}

select#cantidad-cartones {
  padding: 10px;
  margin: 0.3rem auto;
  width: 30%;
  border-radius: 8px;
  border: 1px solid #ccc;
  display: block;
  font-size: 1rem;
}

.blinking {
  color: red;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@media (max-width: 565px) {
  .welcome-container {
    width: 95%;
    max-width: 550px;
  }

  .welco-btn-group .btn,
  .welco-btn-group .btn-play,
  .welco-btn-group .btn-exit {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
  }
}
